version: build-{build}
branches:
  only:
  - master
image: Visual Studio 2022
install: # Upgrade to .netCore 10
- ps: |
    Invoke-WebRequest -Uri 'https://dot.net/v1/dotnet-install.ps1' -UseBasicParsing -OutFile "$env:temp\dotnet-install.ps1"
    & $env:temp\dotnet-install.ps1 -Architecture x64 -Version '10.0.100' -InstallDir "$env:ProgramFiles\dotnet"
before_build:
  - cmd: dotnet --version
environment:
  CONNECTION_STRING: Server=(local)\SQL2019;Database=master;User ID=sa;Password=Password12!;Encrypt=False
init:
- net start MSSQL$SQL2019
build_script:
- cmd: dotnet build -c Release
- cmd: dotnet pack -c Release --include-symbols --include-source
test_script:
- cmd: dotnet test test/ProgressOnderwijsUtils.Tests -c Release
- cmd: dotnet test test/ProgressOnderwijsUtils.Analyzers.Tests -c Release
artifacts:
- path: '**\*.nupkg'
deploy:
- provider: NuGet
  api_key:
    # to regenerate, log in to https://www.nuget.org/packages/ProgressOnderwijsUtils/ as ProgressOnderwijs, (re)generate the key
    # login to appveyor with your github account, and select the progressonderwijs persona (https://ci.appveyor.com/account/progressonderwijs) in the leftmost column to act on behalf of the org, not yourself.
    # Encrypt the nuget key using the appveyor tool: https://ci.appveyor.com/account/progressonderwijs/tools/encrypt
    secure: LHuVvdJdeWNB9cEqvKZSKj0mzxbpvhZViOTpKXA2VBwKe/VWK5vXywnLDWvmGa+z
  on:
    branch: master
