<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net45" />
  <package id="ExpressionToCodeLib" version="1.2.0.0" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="morelinq" version="1.0.15631-beta" targetFramework="net45" />
  <package id="NUnit" version="2.6.2" targetFramework="net45" />
  <package id="YUICompressor.NET" version="2.2.0.0" targetFramework="net45" />
</packages>