<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net452" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net46" />
  <package id="EcmaScript.Net" version="1.0.1.0" targetFramework="net45" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net45" />
  <package id="ExpressionToCodeLib" version="1.5.4.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="9.1.1" targetFramework="net452" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="morelinq" version="1.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net452" />
  <package id="YUICompressor.NET" version="2.7.0.0" targetFramework="net45" />
</packages>